<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.proton.android.calendar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        tools:replace="android:allowBackup,android:theme"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.DayNight"
        android:name=".ProtonCalendarApplication">
        <activity
            android:name=".presentation.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <nav-graph android:value="@navigation/graph_main" />
        </activity>
        <receiver
            android:name=".ProtonCalendarBroadcastReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="me.proton.core.auth.presentation.ui.AuthHelpActivity"
            android:theme="@style/ProtonTheme"
            />
        <activity
            android:name="me.proton.core.auth.presentation.ui.CreateAddressActivity"
            android:theme="@style/ProtonTheme"
            />
        <activity
            android:name="me.proton.core.auth.presentation.ui.CreateAddressResultActivity"
            android:theme="@style/ProtonTheme"
            />
        <activity
            android:name="me.proton.core.auth.presentation.ui.LoginActivity"
            android:theme="@style/ProtonTheme"
            />
        <activity
            android:name="me.proton.core.auth.presentation.ui.MailboxLoginActivity"
            android:theme="@style/ProtonTheme"
            />
        <activity
            android:name="me.proton.core.auth.presentation.ui.SecondFactorActivity"
            android:theme="@style/ProtonTheme"
            />
    </application>

</manifest>
