<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.proton.android.calendar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".ProtonCalendarApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.DayNight"
        tools:replace="android:allowBackup,android:theme">
        <activity
            android:name=".presentation.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DayNight.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data android:scheme="content" android:host="*" android:mimeType="text/calendar" />-->
<!--            </intent-filter>-->
            <intent-filter>
                <action android:name="me.proton.android.calendar.intent.action.CTA_OPEN_ICS" />
                <data android:scheme="content" android:host="*" android:mimeType="text/calendar" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="calendar.protonmail.com"
                    android:pathPrefix="/event" />
                <data
                    android:scheme="https"
                    android:host="calendar.proton.me"
                    android:pathPrefix="/event" />
            </intent-filter>
            <nav-graph android:value="@navigation/graph_main" />
        </activity>
        <receiver
            android:name=".ProtonCalendarBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="me.proton.core.auth.presentation.ui.AuthHelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ProtonTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.auth.presentation.ui.ChooseAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ProtonTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.auth.presentation.ui.CreateAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ProtonTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.auth.presentation.ui.AddAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ProtonTheme.Calendar.AddAccount"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.auth.presentation.ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ProtonTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.auth.presentation.ui.signup.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ProtonTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.auth.presentation.ui.TwoPassModeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ProtonTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.auth.presentation.ui.SecondFactorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ProtonTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.humanverification.presentation.ui.HumanVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ProtonTheme"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
